

NET "BUTTONS[0]" LOC = F12;
NET "BUTTONS[1]" LOC = E12;
NET "BUTTONS[2]" LOC = E11;
NET "BUTTONS[3]" LOC = F11;
NET "BUTTONS[4]" LOC = C11;
NET "BUTTONS[5]" LOC = D11;


NET "BUTTONS[0]" IOSTANDARD = LVTTL;
NET "BUTTONS[1]" IOSTANDARD = LVTTL;
NET "BUTTONS[2]" IOSTANDARD = LVTTL;
NET "BUTTONS[3]" IOSTANDARD = LVTTL;
NET "BUTTONS[4]" IOSTANDARD = LVTTL;
NET "BUTTONS[5]" IOSTANDARD = LVTTL;
NET "BUTTONS[6]" IOSTANDARD = LVTTL;
NET "BUTTONS[7]" IOSTANDARD = LVTTL;
NET "BUTTONS[0]" DRIVE = 8;
NET "BUTTONS[1]" DRIVE = 8;
NET "BUTTONS[2]" DRIVE = 8;
NET "BUTTONS[3]" DRIVE = 8;
NET "BUTTONS[4]" DRIVE = 8;
NET "BUTTONS[5]" DRIVE = 8;
NET "BUTTONS[6]" DRIVE = 8;
NET "BUTTONS[7]" DRIVE = 8;


NET "BUTTONS[6]" LOC = E9;
NET "BUTTONS[7]" LOC = F9;


NET "clock" LOC = C9;

# latch, pulse, and From_Controller are part of the NES controller
# they are attached to the extender board
NET "From_Controller" LOC = C15;
NET "latch" LOC = C3;
NET "pulse" LOC = A15;
NET "reset" LOC = K17;


NET "clock" IOSTANDARD = LVCMOS33;
NET "reset" IOSTANDARD = LVTTL;
NET "reset" PULLDOWN;

# PlanAhead Generated IO constraints 

NET "From_Controller" IOSTANDARD = LVCMOS33;
NET "latch" IOSTANDARD = LVCMOS33;
NET "pulse" IOSTANDARD = LVCMOS33;
